{% extends "core/base.html" %}
{% block content %}
{% load static %}
<section class="cards-container">
    {% for episode in episodes %}
    <div class="card-container">
        <a href="{% url 'episode_detail' serie_pk=episode.season_id.serie_id.pk season_pk=episode.season_id.pk episode_pk=episode.pk %}">
            <img src="{{ episode.image.url }}" class="card-image" alt="{{ episode.title }}">
            <div class="card-text-container">
                <p class="title">{{episode.title}}</p>
            </div>
        </a>
    </div>
    {% endfor %}

    <div class="add-content-container">
        <a href="{% url 'create_movie' %}" class="add-content">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
            </svg>
        </a>
    </div>
</section>
{% endblock %}