{% extends "core/base.html" %}
{% block content %}
{% load static %}
<section class="cards-container">
    {% for episode in episodes %}
    <div class="card-container">
        <a href="{% url 'episode_detail' serie_pk=episode.season_id.serie_id.pk season_pk=episode.season_id.pk episode_pk=episode.pk %}">
            <img src="{{ episode.image.url }}" class="card-image" alt="{{ episode.title }}">
            <div class="card-text-container">
                <p class="title">{{episode.title}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}