{% extends "core/base.html" %}
{% block content %}
<section class="movie-container">
    <div class="movie-image">
        <img src="{{ serie.image.url }}" alt="{{ serie.title }}">
    </div>
    <div class="movie-details">
        <h2>{{serie.title}}</h2>
        <a href="{% url 'season_list' serie.pk %}">Temporadas: {{number_seasons}}</a>
        <p>Categoría: <span class="category">{{serie.genre}}</span></p>
        <p>Director: {{serie.director}}</p>
        <p>Fecha de lanzamiento: {{serie.release_date}}</p>
        <p>Descripción: {{serie.description}}</p>
        <p>En grabación: {{serie.status}}</p>
    </div>
    <div class="movie-buttons-container">
        <button class="movie-buttons"><a href="{% url 'update_serie' serie.id %}">Editar</a></button>
        <button class="movie-buttons"><a href="{% url 'delete_serie' serie.id %}">Eliminar</a></button>

        {% if is_favorite %}
        <form action="{% url 'remove_favorite' 'serie' serie.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="movie-buttons">Quitar de favoritos</button>
        </form>

        {% else %}
        <form action="{% url 'add_favorite' 'serie' serie.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="movie-buttons">Añadir a favoritos</button>
        </form>
        {% endif %}


    </div>
</section>
{% endblock %}
