{% extends "core/base.html" %}
{% block content %}
<div class="flex ml-4 mt-2 gap-4">
    <div class="w-1/2">
        <h2 class="text-xl text-gray-1 underline">Películas favoritas</h2>
        <div style="height: 300px;">
            <canvas id="favorites_chart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx = document.getElementById('favorites_chart').getContext('2d');
            fetch("{% url 'favorite_chart_data' %}")
              .then(response => response.json())
              .then(data => {
                const myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: data.labels,
                    datasets: [{
                      label: data.datasets[0].label,
                      data: data.datasets[0].data,
                      fill: false,
                      backgroundColor: 'rgb(239, 98, 98)',
                      borderColor: 'rgb(239, 98, 98)',
                      borderWidth: 1,
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
              });
        </script>

        <h2 class="text-xl text-gray-1 underline mt-6">Películas más vistas</h2>
        <div style="height: 300px;">
            <canvas id="user_viewed_content_chart"></canvas>
        </div>

        <script>
            const ctxUserViewedContent = document.getElementById('user_viewed_content_chart').getContext('2d');
            fetch("{% url 'user_viewed_content_chart_data' %}")
              .then(response => response.json())
              .then(data => {
                const userViewedContentChart = new Chart(ctxUserViewedContent, {
                  type: 'bar',
                  data: {
                    labels: data.labels,
                    datasets: [{
                      label: data.datasets[0].label,
                      data: data.datasets[0].data,
                      fill: false,
                      backgroundColor: 'rgb(243, 170, 96)',
                      borderColor: 'rgb(246, 247, 196)',
                      borderWidth: 1, // Ancho del borde
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
              });
        </script>
    </div>

    <div class="w-1/2">
        <h2 class="text-xl text-gray-1 underline">Series favoritas</h2>
        <div style="height: 300px;">
            <canvas id="favorites_series_chart"></canvas>
        </div>

        <script>
            const ctxUserFavoriteSerie = document.getElementById('favorites_series_chart').getContext('2d');
            fetch("{% url 'favorites_series_chart_data' %}")
              .then(response => response.json())
              .then(data => {
                const userViewedContentChart = new Chart(ctxUserFavoriteSerie, {
                  type: 'bar',
                  data: {
                    labels: data.labels,
                    datasets: [{
                      label: data.datasets[0].label,
                      data: data.datasets[0].data,
                      fill: false,
                      backgroundColor: 'rgb(91, 154, 139)',
                      borderColor: 'rgb(91, 154, 139)',
                      borderWidth: 1,
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
              });
        </script>

        <h2 class="text-xl text-gray-1 underline mt-6">Series más vistas</h2>
        <div style="height: 300px;">
            <canvas id="user_viewed_series_chart"></canvas>
        </div>

        <script>
            const ctxUsersViewedSeries = document.getElementById('user_viewed_series_chart').getContext('2d');
            fetch("{% url 'user_viewed_series_chart_data' %}")
              .then(response => response.json())
              .then(data => {
                const userViewedContentChart = new Chart(ctxUsersViewedSeries, {
                  type: 'bar',
                  data: {
                    labels: data.labels,
                    datasets: [{
                      label: data.datasets[0].label,
                      data: data.datasets[0].data,
                      fill: false,
                      backgroundColor: 'rgb(151, 78, 195)',
                      borderColor: 'rgb(151, 78, 195)',
                      borderWidth: 1,
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
              });
        </script>
    </div>
</div>
{% endblock %}
