{% extends "core/base.html" %}
{% block content %}
{% load static %}
<!--Filtros-->
<section class="search-filter-container">
    <div class="search-container">
        <input class="search" type="text">
    </div>

    <div class="filter-container">
        <button class="filter-button">+</button>
        <button class="filter-button">+</button>
        <button class="filter-button">+</button>
        <button class="filter-button">+</button>
    </div>
</section>

<!--Main-->
<!--Para películas-->
<h1 class="main-title">Películas</h1>

<section class="cards-container">
    {% for movie in movies %}
    <div class="card-container">
        <a class="card-link" href="{% url 'movie_detail' movie.pk %}">
            <img src="{{ movie.image.url }}" class="card-image" alt="{{ movie.title }}">
            <div class="card-text-container">
                <p class="genre">{{movie.genre}}</p>
                <p class="title">{{movie.title}}</p>
                <p class="duration">{{movie.duration}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>

<!--Para series-->
<h1 class="main-title">Series</h1>
<section class="cards-container">
    {% for serie in series %}
    <div class="card-container">
        <a class="card-link" href="{% url 'serie_detail' serie.pk %}">
            <img src="{{ serie.image.url }}" class="card-image"/>
            <div class="card-text-container">
                <p class="genre">{{serie.genre}}</p>
                <p class="title">{{serie.title}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}
