:root {
  --primary-color: #1088f0;
  --secondary-color: #70138e;
  --tertiary-color: #5a2ea5;

  --background-color: #010001;

  --white-color: #fffffb;
  --gray-color: #191A1D;
  --black-color: #161616;

  --small-font: 0.75rem;
  --medium-font: 1.25rem;
  --large-font: 1.75rem;
  --extra-large-font: 2rem;

  --font-roboto: font-family: 'Roboto', sans-serif;
}

.search-filter-container{
  background-image: url('/static/images/imagen_fondo_prueba_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  margin-left: -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px 0px
}

.search{
  width: 100vh;
  height: 30px;
  border-radius: 10px;
  padding: 8px;
  font-size: var(--medium-font);
  background-color: var(--white-color);
  color: black;
}

.filter-container {
    display: flex;
    gap: 10px;
}

.filter-button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main-title{
  font-size: var(--extra-large-font);
  margin: 30px 0 0 30px;
  color: #3D3B40;
  border-bottom: 1px solid black;
  margin-right: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card-link {
  color: #333;
}

.card-image {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-text-container {
  height: 100%;
  padding: 32px;
  background: var(--gray-color);
}

.genre {
  color: var(--primary-color);
  margin: 0 0 8px;
}

.title {
  color: var(--white-color);
  font-size: var(--large-font);
  margin: 0 0 12px;
}

.duration {
  color: #666;
  margin: 0;
}

.add-content-container{
   display: flex;
   align-items: center;
}

.add-content {
  height: 50px;
  width: 50px;
  background-color: gray;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
