:root {
  --primary-color: #1088f0;
  --secondary-color: #70138e;
  --tertiary-color: #5a2ea5;

  --background-color: #161616;

  --white-color: #fffaeb;
  --gray-color: #738799;
  --black-color: #161616;

  --small-font: 0.5rem;
  --medium-font: 1rem;
  --large-font: 1.5rem;
}

body{
    background-color: var(--background-color);
    padding-left: 6rem;
    color: var(--white-color);
}