:root {
  --primary-color: #1088f0;
  --secondary-color: #70138e;
  --tertiary-color: #5a2ea5;

  --background-color: #010001;

  --white-color: #fffffb;
  --gray-color: #191A1D;
  --black-color: #161616;

  --small-font: 0.75rem;
  --medium-font: 1.25rem;
  --large-font: 1.75rem;
  --extra-large-font: 2rem;

  --font-roboto: font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    padding-left: 4rem;
    background-color: #EBE4D1;
}

a {
    text-decoration: none;
}