/* Estilos generales para la sección de perfil */
section {
    text-align: center;
    padding: 20px;
}

/* Estilos para el contenedor principal del perfil */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilos para el contenedor del formulario */
.form-container {
    background-color: rgb(170,170,170);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

/* Estilos para los contenedores de entrada */
.input-container {
    margin-bottom: 15px;
}

.input-container p {
    margin: 0;
    font-weight: bold;
}

/* Estilos para la imagen de perfil */
.image-container {
    max-width: 300px;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
